<!DOCTYPE html>
 {% load static %}
 <html lang="en">
 <head>
 <meta charset="utf-8">
 <title>{% block title %}Culinary Webapp{% endblock %}</title>
 <link rel="icon" href="https://ict.gctaa.net/resources/GCTAAfavicon.png">
 <link href="{% static "base.css" %}" rel="stylesheet"></link>
 <script src="{% static "init.js" %}"></script>
 </head>
 <body>

     <header>

         {% if user.is_authenticated %}

            <p>Hello {{ user.username}}.
                <form action="{% url 'account_logout' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit">Log Out</button>
                </form>
            </p>
        {% else %}
        <p>Not Logged In
            <a href="{% url 'account_login' %}?next={{ request.path }}">(Login)</a>
        </p>
        {% endif %}
     </header>


     {% block content %}
 
 
     {% endblock %}

 </body>
 </html>
