{% extends 'base.html' %}

{% block content %}
<h1> Events </h1>

<ul>
    {% for e in event_list %}
    <li>
        <a href="{% url 'core:event_item' e.id %}">{{ e.eventName }}</a>
        <a href="{% url 'core:admin_event_delete' e.id %}">Delete</a>
        <a href="{% url 'core:admin_event_update' e.id %}">Update</a>

        {% if e.owner %}
            <p><strong>Posted by:</strong> {{ e.owner.username }}</p>
        {% endif %}

    </li>
    {% endfor %}
</ul>

<a href="{% url 'core:admin_event_create' %}">Add an Event</a>
{% endblock%}
