{% extends "base.html" %} 
{% load static %}

{% block content %}
<h1 class="news-title">Latest News</h1>
<div class="news-container">
  <div id="news-list" class="news-list">
    {% for news in object_list %}
      <div class="card">
        {% if news.image %}
          <div class="img">
            <img src="{{ news.image.url }}" alt="{{ news.title }}">
          </div>
        {% endif %}
        <div class="news-item">
          <h2 class="title">{{ news.title }}</h2>
          <p class="description">{{ news.content|truncatewords:40 }}</p>
          <small>Published on: {{ news.date_posted }}</small><br><br>
          <a class="learn-more" onclick="goToNews({{ news.id }})">Read More →</a>
        </div>
      </div>
      <hr>
      {% empty %}
        <p>No news available.</p>
    {% endfor %}
  </div>
</div>


<script>
function goToNews(newsId) {
  window.location.href = '/core/news/' + newsId;
}
</script>

<link rel="stylesheet" href="{% static 'news.css' %}">
{% endblock %}
