{% extends 'base.html' %}

{% block content %}

<h1>What's your order?</h1>

<form action="" method="post">
    {% csrf_token %}
    <label for="name">Host Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="time">Pickup Time:</label><br>
    <input type="datetime-local" id="time" name="time"><br>

    {% for i in core_food %}

    <input type="checkbox" id={{i.id}} name="food item"  value={{i}}>
    <label for="food item"> {{i.foodName}}</label><br>

    {% endfor %}
    
    <label for="notes">Extra Notes</label>
    <textarea name="notes"></textarea><br>
    <input type="submit" value="Save">
    <input type="reset" value="Reset">
</form>

<a href="{% url 'core:order' %}">Back</a>
{% endblock %}
