{% extends 'base.html' %}

{% block content %}

<h1>Reservation Details</h1>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Host Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Party Size</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in object_list %}
        <tr>
            <td>{{ reservation.hostName }}</td>
            <td>{{ reservation.date }}</td>
            <td>{{ reservation.time }}</td>
            <td>{{ reservation.partySize }}</td>
            <td>
                <a href="{% url 'core:reservation_update' reservation.pk %}">Edit</a>
                <a href="{% url 'core:reservation_delete' reservation.pk %}">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No reservations yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'core:reservation_list' %}">Back</a>
{% endblock %} 
