{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Reservations List</h1>

<p><a href="{% url 'core:reservation_create' %}" class="btn-add-reservation">Add New Reservation</a></p>

<table class="reservation-table">
    <thead>
        <tr>
            <th>Host Name</th>
            <th>Booking by</th>
            <th>Date</th>
            <th>Time</th>
            <th>Party Size</th>
            <th>Actions</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in object_list %}
        <tr>
            <td>{{ reservation.hostName }}</td>
            <td> {{ reservation.name }} </td>
            <td>{{ reservation.date }}</td>
            <td>{{ reservation.time }}</td>
            <td>{{ reservation.partySize }}</td>
            <td class="actions">
                <a href="{% url 'core:reservation_detail' reservation.pk %}">[More]</a>
                <a href="{% url 'core:reservation_update' reservation.pk %}">[Edit]</a>
                <a href="{% url 'core:reservation_delete' reservation.pk %}">[Delete]</a>
            </td>
            <td>
                {{ reservation.owner.email }}
                {% if reservation.owner.profile.phone_number %}
                    <br>{{ reservation.owner.profile.phone_number }}
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No reservations yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
