body {
     margin: 4vw;
 }


.container {
  display: grid;
  grid-template-areas:
    "header login"
    "content content"
    "footer footer";
  grid-template-columns: 4fr 1fr;
  gap: 5px;
  background-color: Black;
  padding: 5px;
}

 .container > div.header {
     background-color: rgb(125,58,142);
     grid-area: header;
     text-align: center;
     
 }
 
 .container > div.login {
     background-color: rgb(125,58,142);
     grid-area: login;
     text-align: center;
    }

 h1, footer {
     text-align: center;
 }
 footer {
     margin-top: 1vw;
 }
 a, a:visited {
     text-decoration: none;
     font-weight: bold;
     color: White; 
 }

 p {
    text-align: center:
}
