{% extends 'base.html' %} 
{% load static %}
 {% block content %}
 
 <main> 
    <h1>Off The Pike</h1>
 </main>
 <body>
   <img src="{% static "offthepikelogonobg.png" %}" alt="the Off the Pike logo">
   <img src="{% static "culinary.jpg" %}" alt="the culinary team posing near christmastime">
   <p>
      Off the Pike is a pop-up restaurant run by Arlington Tech students in the culinary 
      arts program. The restaurant opens around Halloween, Valentine’s Day and other holidays. 
      The students who help to operate Off the Pike gain hands-on experience while generating 
      funds for the culinary arts program. Typically, the fundraiser generates around 1,000 to 
      1,500 dollars.
      <br>Come out and eat with Off the Pike!
   </p>

   <p>
      Check us out on:<br>
      <a href="https://www.instagram.com/acc.culinarystudents?igsh=MXVkajBmZG1seTdyMw==">Instagram</a>
      <br>
      <a href="https://careercenter.apsva.us/culinary-arts-sciences/">Career Center Website</a>
   </p>
 </body>
{% endblock %}
